@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap");

body {
  margin: 0;
  font-family: "Maven Pro", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
  
}
